
<h1 class="text-center bar-h1">Hello, Bartender!</h1>
<div class="wrapper-bartender">
  <div class="one">
    <h1><%= link_to 'Current Orders', current_orders_path,class:"btn btn-primary", id: "bar-btn" %></h1>
  </div>
  <div class="two">
    <h1><%= link_to "Finished Orders", orders_path,class:"btn btn-primary", id: "bar-btn" %></h1>
  </div>
  <div class="three">
    <h1><%=link_to "Order Report","orders/report" ,class:"btn btn-primary", id: "bar-btn" %></h1>
  </div>
  <div class="four">
    <h1><%= link_to "Add Drink to Menu", new_drink_path ,class:"btn btn-primary", id: "bar-btn"%> </h1>
  </div>
</div>
