<div class="shopping-cart">
  <%= render "shopping_cart" %>
  <% if @cart_id %>
    <%= link_to "Order", order_path(@order), method: 'ordered', class: 'btn btn-success' %>
  <%end%>

  <%# form_for order_path(@order), url:{action: "ordered"} do |form|%>
  <%# form.submit "Order", class: "btn btn-success"%>
  <%# end %>
</div>
